[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arcade = "*"
spotipy = {git = "https://github.com/martintamare/spotipy.git"}
python-dotenv = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3"
